header {
    background: #3e3e3e;
    color: $headerColor;
    height: 100%;
    padding: 15px 50px;
    display: flex;
    align-items: center;
    justify-content: center;  
    flex-direction: column;
}

.header-sticky {
    overflow-x: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    height: 200px;
    padding: 15px 50px;
}

.header__name {
    float: left;
    @include link($headerColor); 
    @include transition(); 
    
    &:hover {
        color: #fff;
    }
}

.header__menu {
    float: right;
}

.header__menu-item__item { 
    float: right;
    margin-right: 40px;
    font-size: 12px;
    padding: 3px 0;
    
    @include link($headerColor); 
    @include transition(); 

    &:first-child {
        margin-right: 0;
    }

    &:hover {
        color: #fff;
    }
}

.header__hello,
.header__desc {
    text-align: center;
}

.header__hello {
    font-weight: 300;
    font-size: 28px;
}

.header__links {
    padding-top: 20px;
    
    a {
        @include link($headerColor); 
        margin: 0 5px;
        &:hover {
            color: #fff;
        }
    }
}

.header__scroll {
    top: 100px;
    position: relative;
    animation: moveDownArrowAnimation 2s infinite ease;
}

.header__menu_hamburger {
    width: 30px;
    height: 23px;
    float: right;
    display: none;
    // background-color: red;
}

.header__menu_hamburger_lines {
    width: 100%;
    height: 1px;
    background: #fff;
    opacity: 0.7;
    margin-top: 10px;
    @include transition(); 

    &:after {
        content: '';
        position: absolute;
        margin-top: -7px;
        width: 30px;
        height: 1px;
        background: #fff;
        @include transition(); 
    }

    &:before {
        content: '';
        position: absolute;
        margin-top: 7px;
        width: 30px;
        height: 1px;
        background: #fff;
        @include transition(); 
    }
}

.header__menu_hamburger_lines.active {
    background-color: transparent;

    &:after {
        content: '';
        position: absolute;
        margin-top: 0;
        transform: rotate(-45deg);
    }

    &:before {
        content: '';
        margin-top: 0;
        transform: rotate(45deg);
    }
}

.header__menu_mobile {
    @include transition(); 
    display: none;
    width: 180px;
    height: auto;
    position: absolute;
    right: -200px;
    top: 50px;
}

.header__menu_mobile.active {
    right: 0;
}

.header__menu-item__item_mobile {
    @include link($headerColor); 
    @include transition(); 
    float: left;
    width: 100%;
    height: 30px;
    text-align: right;
    font-size: 14px;
    padding-right: 50px;
    top: 50px;
    
}


@media screen and (max-width: 520px){  
    .header__menu_mobile {
        display: block;
     }

    .header__menu {
        display: none;
    }

    .header__menu_hamburger {
        display: block;
    }
}

@keyframes moveDownArrowAnimation {
  0% {
        top: 100px;
    }

  70% {
        top: 150px;
    }
}